@import "tailwindcss";

.logo-text {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 700;
  letter-spacing: -0.5px;

  font-size: 3rem;

  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.logo-univ {
  color: #DEEA38;
}

.logo-talk {
  color: #07379C;
}
